beautifulsoup4 >= 4.5
boto3==1.9.98
datadotworld >= 1.6
html5lib == 0.999
ipykernel >= 4.8
lxml >= 3.7.3
matplotlib==3.0.2
numpy >= 1.14
pandas >= 0.20
requests >= 2.11
watermark >= 1.5.0
# For styling dataframes printed in notebooks
Jinja2 == 2.11.3
