beautifulsoup4 >= 4.5
datadotworld >= 1.6
html5lib == 0.999
ipykernel >= 4.8
lxml >= 3.7.3
numpy >= 1.14
pandas >= 0.20
requests >= 2.11
watermark >= 1.5.0
# For styling dataframes printed in notebooks
Jinja2 == 2.10
